<section class="section section--testimonials">
  <div class="container--md container--testimonial anim-scroll-up">
    <div class="text-wrap mod--testimonial-heading">
      <h2 class="heading-medium mod--testimonial">See what our users say</h2>
      <div class="testimonial__btns">
        <div class="d-flex justify-content-center mb-4">
          <button
            class="carousel-control-prev position-relative"
            type="button"
            (click)="moveToPrevSlide()"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
              style="color: gray"
            ></span>
            <span class="visually-hidden" style="color: gray">Previous</span>
          </button>
        </div>

        <div class="d-flex justify-content-center mb-4">
          <button
            class="carousel-control-next position-relative"
            type="button"
            (click)="moveToNextSlide()"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
              style="color: gray"
            ></span>
            <span class="visually-hidden" style="color: gray">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div
      id="carouselMultiItemExample"
      class="carousel slide carousel-dark text-center"
      data-mdb-ride="carousel"
    >
      <!-- Inner -->
      <div class="carousel-inner py-4">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <!-- Review 1 -->
              <div class="col-lg-6 col-md-12"> <!-- In fullscreen mode, show 2 content sections per slide -->
                <div class="testimonial__slider-container">
                  <div class="testimonial__slide-header">
                    <div class="testimonial__slide-avatar">
                      <div class="testimonial__slide-name">RC</div>
                    </div>
                    <div class="testimonial__slide-text">
                      <div class="testimonial__text-container">
                        <div class="testimonial__author">Richard Chung</div>
                        <div class="testimonial__author-position">
                          Keller Williams
                        </div>
                      </div>
                      <img
                        src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843ce0ecb68cbc_quote.svg"
                        loading="lazy"
                        alt=""
                        class="testimonial__quote-icon"
                      />
                    </div>
                  </div>
                  <div class="testimotial__text">
                    “One of our first calls that we made, got a listing
                    appointment and went over a couple days later and got the
                    listing agreement signed at the dinner table."
                  </div>
                </div>
                <!-- ... content of the first review ... -->
              </div>
              <!-- Review 2 -->
              <div class="col-lg-6 col-md-12"> <!-- In fullscreen mode, show 2 content sections per slide -->
                <div class="testimonial__slider-container">
                  <div class="testimonial__slide-header">
                    <div class="testimonial__slide-avatar">
                      <div class="testimonial__slide-name">PM</div>
                    </div>
                    <div class="testimonial__slide-text">
                      <div class="testimonial__text-container">
                        <div class="testimonial__author">Paul Morris</div>
                        <div class="testimonial__author-position">
                          CEO of KW Forward Living, KW Regional Owner
                        </div>
                      </div>
                      <img
                        src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843ce0ecb68cbc_quote.svg"
                        loading="lazy"
                        alt=""
                        class="testimonial__quote-icon"
                      />
                    </div>
                  </div>
                  <div class="testimotial__text">
                    “In a short period of time we have been able to generate
                    real results in the most cost-effective way I have ever
                    seen”
                  </div>
                </div>
                <!-- ... content of the second review ... -->
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <!-- Review 3 -->
              <div class="col-lg-12"> <!-- In mobile view, show 1 content section per slide -->
                <div class="testimonial__slider-container">
                  <div class="testimonial__slide-header">
                    <div class="testimonial__slide-avatar">
                      <div class="testimonial__slide-name">JS</div>
                    </div>
                    <div class="testimonial__slide-text">
                      <div class="testimonial__text-container">
                        <div class="testimonial__author">Josh Spitzen</div>
                        <div class="testimonial__author-position">
                          CEO of Keller Williams Beverly Hills
                        </div>
                      </div>
                      <img
                        src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843ce0ecb68cbc_quote.svg"
                        loading="lazy"
                        alt=""
                        class="testimonial__quote-icon"
                      />
                    </div>
                  </div>
                  <div class="testimotial__text">
                    “This is a unique and powerful platform to source listing
                    leads that are highly valued in any marketing, particularly
                    a shifting market”
                  </div>
                </div>
                <!-- ... content of the third review ... -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inner -->
    </div>
  </div>
</section>
