<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<div class="container">
  <section class="section section--testimonials">
    <div class="container--md container--testimonial anim-scroll-up">
      <div class="text-wrap mod--testimonial-heading">
        <h2 class="heading-medium mod--testimonial">See what our users say</h2>
        <div class="testimonial__btns">
          <div class="testimonial__slider-button mod--prev w-embed">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 24L20 16L12 8"
                stroke="#07133B"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
          <div
            class="testimonial__slider-button mod--next w-embed swiper-button-disabled"
          >
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 24L20 16L12 8"
                stroke="#07133B"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div
        class="swiper mod--testiminial swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
      >
        <div
          class="swiper-wrapper"
          style="
            cursor: grab;
            transform: translate3d(-1182px, 0px, 0px);
            transition-duration: 0ms;
          "
        >
          <div
            class="swiper-slide mod--testimonial"
            style="width: 583px; margin-right: 8px"
            role="group"
            aria-label="1 / 4"
          >
            <div class="testimonial__slider-container">
              <div class="testimonial__slide-header">
                <div class="testimonial__slide-avatar">
                  <div class="testimonial__slide-name">RC</div>
                </div>
                <div class="testimonial__slide-text">
                  <div class="testimonial__text-container">
                    <div class="testimonial__author">Richard Chung</div>
                    <div class="testimonial__author-position">
                      Keller Williams
                    </div>
                  </div>
                  <img
                    src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843ce0ecb68cbc_quote.svg"
                    loading="lazy"
                    alt=""
                    class="testimonial__quote-icon"
                  />
                </div>
              </div>
              <div class="testimotial__text">
                “One of our first calls that we made, got a listing appointment
                and went over a couple days later and got the listing agreement
                signed at the dinner table."
              </div>
            </div>
          </div>
          <div
            class="swiper-slide mod--testimonial swiper-slide-prev"
            style="width: 583px; margin-right: 8px"
            role="group"
            aria-label="2 / 4"
          >
            <div class="testimonial__slider-container">
              <div class="testimonial__slide-header">
                <div class="testimonial__slide-avatar">
                  <div class="testimonial__slide-name">PM</div>
                </div>
                <div class="testimonial__slide-text">
                  <div class="testimonial__text-container">
                    <div class="testimonial__author">Paul Morris</div>
                    <div class="testimonial__author-position">
                      CEO of KW Forward Living, KW Regional Owner
                    </div>
                  </div>
                  <img
                    src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843ce0ecb68cbc_quote.svg"
                    loading="lazy"
                    alt=""
                    class="testimonial__quote-icon"
                  />
                </div>
              </div>
              <div class="testimotial__text">
                “In a short period of time we have been able to generate real
                results in the most cost-effective way I have ever seen”
              </div>
            </div>
          </div>
          <div
            class="swiper-slide mod--testimonial swiper-slide-active"
            style="width: 583px; margin-right: 8px"
            role="group"
            aria-label="3 / 4"
          >
            <div class="testimonial__slider-container">
              <div class="testimonial__slide-header">
                <div class="testimonial__slide-avatar">
                  <div class="testimonial__slide-name">JS</div>
                </div>
                <div class="testimonial__slide-text">
                  <div class="testimonial__text-container">
                    <div class="testimonial__author">Josh Spitzen</div>
                    <div class="testimonial__author-position">
                      CEO of Keller Williams Beverly Hills
                    </div>
                  </div>
                  <img
                    src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843ce0ecb68cbc_quote.svg"
                    loading="lazy"
                    alt=""
                    class="testimonial__quote-icon"
                  />
                </div>
              </div>
              <div class="testimotial__text">
                “This is an unique and powerful platform to source listing leads
                that are highly valued in any marketing, particularly a shifting
                market”
              </div>
            </div>
          </div>
          <div
            class="swiper-slide mod--testimonial swiper-slide-next"
            role="group"
            aria-label="4 / 4"
            style="width: 583px; margin-right: 8px"
          >
            <div class="testimonial__slider-container">
              <div class="testimonial__slide-header">
                <div class="testimonial__slide-avatar">
                  <div class="testimonial__slide-name">MM</div>
                </div>
                <div class="testimonial__slide-text">
                  <div class="testimonial__text-container">
                    <div class="testimonial__author">Mike Miller</div>
                    <div class="testimonial__author-position">
                      Keller Williams
                    </div>
                  </div>
                  <img
                    src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843ce0ecb68cbc_quote.svg"
                    loading="lazy"
                    alt=""
                    class="testimonial__quote-icon"
                  />
                </div>
              </div>
              <div class="testimotial__text">
                “Catalyze has catalyzed my business into warp speed! High
                quality leads, exclusive data, and incredible customer service!
                I'm highly recommending it to anyone who wants business faster.
                We made $38k in the first month of utilizing Catalyze's
                platform.”
              </div>
            </div>
          </div>
        </div>
        <span
          class="swiper-notification"
          aria-live="assertive"
          aria-atomic="true"
        ></span>
      </div>
    </div>
  </section>
</div>

