<div class="container">
  <h2>How to get started?</h2>
  <div class="row">
    <div class="col-md-6">
      <div ngbAccordion [closeOthers]="true">
        <div
          ngbAccordionItem
          *ngFor="let panel of panels; let i = index"
          [collapsed]="panel !== currentPanel"
          (click)="setCurrentPanel(panel)"
        >
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{ panel }}</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              {{ content[panels.indexOf(panel)] }}
              <!-- Display image only on mobile devices -->
              <div>
                <img
                src="{{ images[i] }}"
                alt=""
                class="img-fluid d-md-none" 
                height="150"
                width="150"
              />
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Display image only on medium and larger screens -->
      <img
        src="{{ images[panels.indexOf(currentPanel)] }}"
        alt=""
        class="img-fluid d-none d-md-block" 
        height="150"
        width="150"
      />
    </div>
  </div>
</div>
