<section
  data-w-id="71aa2e1e-b0e7-1fda-70a9-914a6a3e80eb"
  class="section section--properties"
>
  <div
    data-w-id="5fe89782-d223-f304-a194-d987180edadc"
    style="
      opacity: 1;
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
    "
    class="container--md overflow-hidden"
  >
    <h2 class="heading-medium mod--properties">
      Identify Inherited Properties in your local area that will&nbsp;sell
    </h2>
    <div
      data-swiper="properties"
      class="properties-slider swiper anim-scroll-up"
      style="
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
          rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
      "
    >
      <div class="properties__grid swiper-wrapper">
        <div class="properties__card swiper-slide">
          <div class="properties__add-info" >
            Industry High <br />Prediction Rate
          </div>
          <div class="properties__number-container " style="margin-left:115px ; margin-top: 30px;">
            <div
              id="prediction-rate"
              class="properties__number-text"
              data-purecounter-duration="0"
            >
              40
            </div>
            <div class="properties__number-procent">%</div>
          </div>
          <img
            src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843c32ddb68d18_leads.svg"
            loading="lazy"
            alt=""
            class="properties__icon"
          />
          <div class="overflow-hidden">
            <div class="properties__text">
              Roughly 4 out of 10 property leads sell within 12 months.
            </div>
          </div>
        </div>
        <div class="properties__card swiper-slide">
          <div class="properties__number-container mab24" style="margin-left:100px ; margin-top: 10px;">
            <div class="properties__number-text">
              $<span id="property-value" data-purecounter-duration="0">77</span>
            </div>
            <div class="properties__number-procent">Bn</div>
          </div>
          <img
            src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843cfb56b68d0e_building.svg"
            loading="lazy"
            alt=""
            class="properties__icon"
          />
          <div class="overflow-hidden">
            <div class="properties__text">
              Predicted total property value that will sell per year.
            </div>
          </div>
        </div>
        <div class="properties__card swiper-slide">
          <div class="properties__number-container mab24" style="margin-left:115px ;">
            <div
              id="agent"
              class="properties__number-text"
              data-purecounter-duration="0"
            >
              77
            </div>
            <div class="properties__number-procent">%</div>
          </div>
          <img
            src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843cb5c4b68d11_agent.svg"
            loading="lazy"
            alt=""
            class="properties__icon"
          />
          <div class="overflow-hidden">
            <div class="properties__text">
              Of recent seller contacted only one agent before finding the right
              agent they worked with to sell their home.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section__divider"></div>
  </div>
</section>
